.wrapper {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--font-family);
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--white-color);
    border: 1px solid transparent;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

.rounded {
    min-width: 90px;
    height: 32px;
    font-weight: 700;
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.75);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white-color);
    border-color: var(--primary);
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)) #fe2c55;
    }
}
.outline {
    color: var(--primary);
    border-color: currentColor;
    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

.text {
    min-width: 50px;
    padding: 4px 8px;
    &:hover {
        text-decoration: underline;
    }
}
